{% extends "base.html" %}
{% block title %}Проекти
{% endblock title %} 
{% comment %} {% block header %}проекти{% endblock header %} {% endcomment %}

{% block content %}
{% include "blogmenu.html" %}

<div class="container-fluid">

  <div class="row p-2 m-0">
    <div class="col-md-2 border">
      <p>Навігація</p>
    </div>
    <div class="col-md-10 border">
      <div class="row ">
        {% for post in post_list%}
        <div class="col-md-3 p-3 m-2">
          <div class="card mb">
            <h5 class="card-title text-success text-center"><a class="text-primary" href="{{post.id}}">{{post.title}}</a></h5>
            <a href="{{post.id}}" class="mask">
              {% if post.image %}
              <img
                src="{{post.image.url}}"
                alt="image"
                class="img-responsive zoom-img rounded mx-auto d-block"
                heigth ="100px"
                width="100px"
              />
              {% endif %}
            </a>
                <div class="card-body mb">
                  <p class="card-text">{{post.description}}</p>
                  <a href="{{post.id}}" class="btn btn-success mb">Переглянути</a>
                </div>
              </div>
        </div>
        {%endfor%} 
        {% comment %} {% for post in post_list%}
            <div class="col-2 border">
              <a href="{{post.id}}" class="mask">
                {% if post.image %}
                <img
                  src="{{post.image.url}}"
                  alt="image"
                  class="img-responsive zoom-img"
                  heigth ="100px"
                  width="100px"
                />
                {% endif %}
              </a>
              <h3></h3>
              <div class="links">
                    <i class="fa blog-icon fa-calendar"> </i><span>{{post.date}}</span>
              </div>
              <p>
                {{post.description}}
              </p>
              <a href="{{post.id}}" class="btn1 btn-8 btn-8c">Переглянути</a>
              {% comment %} <div class="clearfix"></div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="clearfix"></div> {% endcomment %}
        {% comment %} {%endfor%} {% endcomment %}  
    </div>    
  </div>
</div>
  

{% endblock content %}
