{% extends "base.html" %}

{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Магазин{% endif %}
{% endblock %}
{% block content %}
{% include "submenu.html" %}
 
<div class="row p-3 m-2">
    <div class="col-md-2 border">
       <p> Сортування</p>
    </div>
    <div class="col-md-10 border">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 p-3 m-2">
                <div class="card mb">
                  <h5 class="card-title text-success text-center"><a class="text-primary" href="{{post.id}}">{{post.title}}</a></h5>
                  <a href="{{post.id}}" class="mask">
                    {% if post.image %}
                    <img
                      src="src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}""
                      alt="image"
                      class="img-responsive zoom-img rounded mx-auto d-block"
                      heigth ="100px"
                      width="100px"
                    />
                    {% endif %}
                  </a>
                      <div class="card-body mb">
                        <h3 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                        <p class="card-text"><span> ${{ product.price }}</span></p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-success mb">Переглянути</a>
                      </div>
                    </div>
              </div>
            
            {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}