{% extends "base.html" %}
{% load static %}

{% block title %}
  Корзина покупок
{% endblock %}

{% block content %}
  <h1>Корзина покупок</h1>
  <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Назва</th>
                            <th scope="col">наявність</th>
                            <th scope="col" class="text-center">Кількість</th>
                            <th scope="col" class="text-right">Ціна</th>
                            <th scope="col" class="text-right">Всього</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in cart %}
          {% with product=item.product %}
                        <tr>
                            <td >
                              <a href="{{ product.get_absolute_url }}">
                                <img class="miniimg" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                              </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="{{ item.quantity }}" /></td>
                            <td class="text-right">${{ item.price }}</td>
                            <td class="text-right">${{ item.total_price }}</td>
                            <td class="text-right">
                              <a class="btn btn-sm btn-danger" href="{% url 'cart:cart_remove' product.id %}"><i class="fa fa-trash"></i></a>
                              {% comment %} <button class="btn btn-sm btn-danger">
                              <i class="fa fa-trash"></i>
                             </button>  {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>До сплати</strong></td>
                            <td class="text-right"><strong>${{ cart.get_total_price }}</strong></td>
                        </tr>
          {% endwith %}
        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href="{% url 'shop:product_list' %}" class="button light">В магазин</a>
                    {% comment %} <button class="btn btn-block btn-light">Continue Shopping</button> {% endcomment %}
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success text-uppercase" href="{% url "orders:order_create" %}" class="button light">Оформити</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}